<div class="screenCarousel">
  <div class="sc-track">
    <img class="sc-slide" src="{{ 'assets/screenshots/singleNote_expert_dark.png' | relative_url }}" alt="Pitchit single note game">
    <img class="sc-slide" src="{{ 'assets/screenshots/melody_normal_dark.png' | relative_url }}" alt="Pitchit melody mode">
  </div>
</div>
<div class="sc-dots">
  <button class="sc-dot sc-dot--active" data-slide="0" aria-label="Slide 1"></button>
  <button class="sc-dot" data-slide="1" aria-label="Slide 2"></button>
</div>
