{% if page.ref %}
<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | replace: 'index.html', '' }}">
<link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ site.baseurl }}/">
{% for lang in site.languages %}
  {% if lang.code == site.default_lang %}
<link rel="alternate" hreflang="{{ lang.code }}" href="{{ site.url }}{{ site.baseurl }}/">
  {% else %}
<link rel="alternate" hreflang="{{ lang.code }}" href="{{ site.url }}{{ site.baseurl }}/{{ lang.code }}/">
  {% endif %}
{% endfor %}
{% endif %}
